body { 
	background-color: #000;
	min-height: 800px;
<<<<<<< HEAD
  max-height: 1600px;
	margin: 0;
	overflow: hidden;
=======
  //max-height: 1200px;
	margin: 0;
	overflow: visible;
>>>>>>> 166db6e5b6e3d475aca7d002bfc4d0b8c108e2f8
}

#canvas-wrap { position:relative; width: 100%; height: 100%;}
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0; height: 100%;}

#overlay {
	height: 100%;
}
#scene { 
  padding: 0;
  margin: 0;
  height: 100%;
}

#main-background {
<<<<<<< HEAD
  height: 100%;
  background: url(/image/Paris.png) no-repeat; 
  background-size: cover;
=======
  background: url("/image/Paris.png") no-repeat;
  height: 100%;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
>>>>>>> 166db6e5b6e3d475aca7d002bfc4d0b8c108e2f8
}
