#tree {
  transform:  translate(20px, 155px) scale(.5, .5);
}
#table_chair {
  transform:  translate(50px, 500px);
}

#triomphe-front {
  transform:  translate(610px, 45px) scale(.35, .35);
}

#triomphe-back {
  transform:  translate(680px, 29px) scale(.29, .29);
}


#sun {
  transform:  translate(700px, 0px);
}

#rainbow {
  transform:  translate(700px, 10px) scale(.4, .4);
}


#wheel {
   transform:  translate(300px, 20px) scale(.2, .2);
}

#wheelbase {
   transform:  translate(345px, 160px) scale(.2, .2);
}

#ballon {
  transform:  translate(900px, 10px) scale(.3, .3); 
}

#airship {
  transform:  translate(300px, 20px) scale(.3, .3);
}

#table_chair {
  transform:  translate(200px, 400px) scale(.6, .6);
}


#pyramid {
  transform:  translate(100px, 200px)  scale(.4, .4);
}

#notredame {
  transform:  translate(300px, 100px) scale(.3, .3);
}

#sacrecoeur {
  transform: translate(1000px, 120px) scale(.6, .6);
}

#eiffel {
  transform: translate(500px, -240px) scale(.3, .3);
}

#triomphe {

  transform: translate(800px, 250px) scale(.5, .5);
}

#tramway {
  transform:  translate(-1500px, 200px)  scale(.3, .3);
}


.leave {
  transform: translate(800px, 200px);
}

.bottle {
  transform: translate(100px, 500px) scale(.5,.5);
}

.ship {
  transform: translate(100px, 500px) scale(1,1);
}

.smoke {
  transform: translate(400px, 400px) scale(1,1);
}

.sun {
   -webkit-animation-name: sun;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-play-state: sun;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.rainbow {
   -webkit-animation-name: fade;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: fade;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.roll-1 {
  -webkit-animation-name: roll;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: roll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.swing-roll {
  -webkit-animation-name: swing-roll;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: swing-roll;
  animation-duration: 50s;
}
.roll-1 {
  -webkit-animation-name: roll;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: roll;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


.wheel {
  -webkit-animation-name: wheel;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: wheel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.shift-1 {
  -webkit-animation: shift 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: shift 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: shift 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-2 {
  -webkit-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.swing-ballon {
  -webkit-animation-name: swing-ballon;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: swing-ballon;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }


.swing-5 {
  -webkit-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


@-webkit-keyframes fade {
 0% { transform: translate(700px, 10px) scale(.4, .4);
      opacity: 0;}
 50% { transform: translate(700px, 10px) scale(.4, .4);
      opacity: 1;}
  100% { transform: translate(700px, 10px) scale(.4, .4);
        opacity:0;}
}

@keyframes fade {
  0% { transform: translate(700px, 10px) scale(.4, .4);
      opacity: 0;}
 50% { transform: translate(700px, 10px) scale(.4, .4);
      opacity: 1;}
  100% { transform: translate(700px, 10px) scale(.4, .4);
        opacity:0;}
}


@-webkit-keyframes sun {
  0% { transform: translate(650px, 0px);}
  50% { transform: translate(450px, -30px) rotateZ(25deg) scale(1.5, 1.5);}
  100% { transform: translate(650px, 0px);}
}

@keyframes sun {
  0% { transform: translate(650px, 0px);}
  50% { transform: translate(450px, -30px) rotateZ(25deg) scale(1.5, 1.5);}
  100% { transform: translate(650px, 0px);}
}


@-webkit-keyframes roll {
 0% { transform: translate(-1500px, 190px) scale(.2, .2);}
  100% { transform: translate(1500px, 190px) scale(.2, .2);}
}

@keyframes roll {
  0% { transform: translate(-1500px, 190px) scale(.2, .2);}
  100% { transform: translate(1500px, 190px) scale(.2, .2);}
}

@-webkit-keyframes wheel {
  0% { transform: translate(300px, 50px) rotateZ(0deg) scale(.2, .2); }
   50% { transform: translate(300px, 50px) rotateZ(180deg) scale(.2, .2); }
  100% { transform: translate(300px, 50px) rotateZ(360deg) scale(.2, .2); }
}

@keyframes wheel {
  0% { transform: translate(300px, 50px) rotateZ(0deg) scale(.2, .2); }
   50% { transform: translate(300px, 50px) rotateZ(180deg) scale(.2, .2); }
  100% { transform: translate(300px, 50px) rotateZ(360deg) scale(.2, .2); }
}

@-webkit-keyframes swing-ballon {
  0% { transform: translate(650px, -50px) rotateZ(10deg) scale(.3, .3); }
   50% { transform: translate(650px, -50px) rotateZ(-10deg) scale(.3, .3); }
  100% { transform: translate(650px, -50px) rotateZ(10deg) scale(.3, .3); }
}

@keyframes swing-ballon {
  0% { transform: translate(650px, -50px) rotateZ(10deg) scale(.3, .3); }
   50% { transform: translate(650px, -50px) rotateZ(-10deg) scale(.3, .3); }
  100% { transform: translate(650px, -50px) rotateZ(10deg) scale(.3, .3); }
}

@-webkit-keyframes swing-roll {
  0% { transform: translate(300px, 100px) rotateZ(-10deg) scale(.2, .2);}
  50% { transform: translate(100px, 60px) rotateZ(20deg) scale(.4, .4);}
  100% { transform: translate(300px, 60px) rotateZ(-10deg) scale(.2, .2);}
}

@keyframes swing-roll {
    0% { transform: translate(300px, 100px) rotateZ(-10deg) scale(.2, .2);}
  50% { transform: translate(100px, 60px) rotateZ(20deg) scale(.4, .4);}
  100% { transform: translate(300px, 60px) rotateZ(-10deg) scale(.2, .2);}

@-webkit-keyframes roll {
  0% { transform: translate(-100px, 300px) scale(.3, .3);}
  100% { transform: translate(1500px, 300px) scale(.3, .3);}
}

@keyframes roll {
  0% { transform: translate(-100px, 300px) scale(.3, .3);}
  100% { transform: translate(1000px, 300px) scale(.3, .3);}
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-webkit-keyframes shift {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  100% {
   -webkit-transform: translate(500px, 0px);
    -moz-transform: translate(500px, 0px);
    transform: translate(500px, 0px);
  }
}

@-moz-keyframes shift {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  100% {
   -webkit-transform: translate(500px, 0px);
    -moz-transform: translate(500px, 0px);
    transform: translate(500px, 0px);
  }
}

@-ms-keyframes shift {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  100% {
   -webkit-transform: translate(500px, 0px);
    -moz-transform: translate(500px, 0px);
    transform: translate(500px, 0px);
  }

@keyframes shift {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  100% {
   -webkit-transform: translate(500px, 0px);
    -moz-transform: translate(500px, 0px);
    transform: translate(500px, 0px);
  }
}

